body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: #336699;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #336699;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #336699;
    color: #336699;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #336699;
    color: white;
}
